.contact-page-container {
  background-color: #000;
}

.contact-page {
  display: flex;
  flex-direction: column-reverse;
  padding: 40px 40px 0 40px;
  background-color: #000;
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  width: 90%;
  z-index: 20;
  background-image: url("../images/background-crosses.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: bottom left;
}

.contact-text {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.contact-message {
  font-size: 25px;
  line-height: 50px;
  text-align: center;
}

.contact-input {
  border: none;
  border-bottom: solid 1px #fff;
  width: 100%;
  background-color: transparent;
  color: #fff;
}

.contact-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.central-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-logo {
  width: 50%;
}

.contact-header {
  font-size: 30px;
}

@media (min-width: 768px) {
  .contact-page {
    display: flex;
    flex-direction: row;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
    width: 50%;
  }
  .contact-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 0 50px;
    width: 50%;
  }

  .contact-message {
    text-align: justify;
  }

 .contact-page h1 {
    color: white;
    writing-mode: vertical-lr;
    display: inline-block;
    transform: rotate(-180deg);
    font-size: 120px;
    margin: auto 0;
    text-transform: uppercase;
    padding: 100px 50px 0 50px;
    }
 
}