.contact-page {
  display: flex;
  flex-direction: row;
  padding: 40px;
  background-color: #000;
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 100px;
  padding: 50px;
  width: 50%;

}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 50%;
}

.contact-input {
  border: none;
  border-bottom: solid 1px #fff;
  width: 100%;
  background-color: #000;;
  color: #fff;
}