.contact-page {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #000;
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  width: 90%;
  z-index: 999;
  background-image: url("../images/background-crosses.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: bottom center;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.contact-input {
  border: none;
  border-bottom: solid 1px #fff;
  width: 100%;
  background-color: transparent;
  color: #fff;
}

.contact-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .contact-page {
    display: flex;
    flex-direction: row;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
    width: 50%;
  }
  .contact-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    width: 50%;
  }
 .contact-page h1 {
    color: white;
    writing-mode: vertical-lr;
    display: inline-block;
    transform: rotate(-180deg);
    font-size: 120px;
    margin: auto 0;
    text-transform: uppercase;
  }
}