.events {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #000;
}

.header-placeholder-events {
  height: 120px;
}

.events h1 {
  color: white;
  font-size: 80px;
  margin: auto 0;
  text-transform: uppercase;
}



.event-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-card {
  background-color: #fff;
  color: #000;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.blue-background {
  background-color: rgba(37, 172, 209, 0.842);
}

.events-scroll-list {
  overflow-y: scroll; 
  height:400px;
  margin: 0 auto 20px auto;
  width: 60%;
  box-shadow: rgba(37, 172, 209, 0.842) 0px 0px 16px;
}

.event-button-container {
  display: flex;
  width: 400px;
  margin: 20px 100px;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.event-button-up {
  height: 0;
  width: 0;
  padding: 0;
  border-top: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid rgba(37, 172, 209, 0.842);
  border-left: 30px solid transparent;
  background-color: transparent;
}

.event-button-down {
  height: 0;
  width: 0;
  padding: 0;
  border-top: 30px solid rgba(37, 172, 209, 0.842);
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid transparent;
  background-color: transparent;
}

.event-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.event-logo {
  width: 100%;
}

.event-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.event-info p {
  margin: 0;
  padding: 10px;
  font-size: 15px;
}

@media (min-width: 768px) {
  .events {
    height: calc(100vh - 160px);
    background-image: url("../images/events-background2.jpeg");
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-position: center;
    flex-direction: row;

   }
   .events h1 {
    color: white;
    writing-mode: vertical-rl;
    display: inline-block;
    transform: rotate(-180deg);
    font-size: 120px;
    margin: auto 0;
    text-transform: uppercase;
    padding: 50px;
  }
  .header-placeholder-events {
    height: 80px;
  }
  .event-list-container {
    top: 74px;
    right: -20px;
  }
  .events-scroll-list {
    margin: 0 20px;
    width: auto;
  }

  .event-info {
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .event-card {
    flex-direction: row;
  }
  .event-info {
    width: 75%;

  }
}