@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(../fonts/Lato-Regular.ttf) format('truetype');
}

:root {
  --color-highlight-blue: rgba(37, 172, 209, 0.842);

}


body {
  font-family: 'Lato';
  margin: 0;
  padding: 0;
  line-height: 25px;
}

a {
  text-transform: uppercase;
}

a:visited {
  color: white;
}

h1 {
  text-align: center;
}


.header-placeholder {
  height: 80px;
}

.fade-in-bottom {
  opacity: 0;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.hidden-mobile {
  display: none;
}


@keyframes fade-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.w3-animate-bottom {
  position: relative;
  animation: animatebottom 2s;
  -webkit-animation: animatebottom 2s;
}


@keyframes animatebottom {
  0% {
    bottom: -200px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

.triangle-1 {
  position: fixed;
  top: 80px;
  left: 0;
  height: 0;
  width: 0;
  border-top: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 100px solid rgba(84, 3, 176, 0.842);
  z-index: 0;
}

.triangle-2 {
  position: fixed;
  bottom: 10px;
  right: 0;
  height: 0;
  width: 0;
  border-top: 150px solid transparent;
  border-right: 150px solid rgba(84, 3, 176, 0.842);
  border-bottom: 150px solid transparent;
  border-left: 150px solid transparent;
  z-index: 0;
}

.crosses-background {
  position: fixed;
  top: 80px;
  right: 50px;
  width: 60px;
  height: 60px;
  background-image: url("../images/background-crosses.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.crosses-background-2{
  position: fixed;
  bottom: 40px;
  left: 440px;
  width: 60px;
  height: 60px;
  background-image: url("../images/background-crosses.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(72deg)
}

.crosses-background-black {
  position: fixed;
  top: 80px;
  right: 50px;
  width: 60px;
  height: 60px;
  background-image: url("../images/background-crosses-black.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.crosses-background-black-2{
  position: fixed;
  bottom: 240px;
  left: 240px;
  width: 60px;
  height: 60px;
  background-image: url("../images/background-crosses-black.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(72deg)
}



.button {
  background-color: #fff;
  border-radius: 30px;
  padding: 15px 25px;
  margin-top: 30px;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  min-width: 150px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .full-vh {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .hidden-mobile {
    display: inline-block;
  }
}