.index {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.landing {
  background-image: url("../images/home-background2.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vw;
}

.read-more {
  background-color: #fff;
  border-radius: 30px;
  padding: 15px 25px;
  margin: 20px;
  font-size: 18px;
  margin-left: 30vw;
  margin-top: 5vh;
  color: #000;
  text-decoration: none;
}

.about-us-container {
  display: flex;
}

.about-us {
  color: white;
}

.about-us-header {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 20px;
  margin: 20px;
}


.about-us-subtitle {
  color: var(--color-highlight-blue);
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 0;
}

.about-us-img {
  width: 50%;
  height: 100%;
  margin: auto;
}

.about-us-text {
  padding: 20px;
  text-align: justify;
  margin: auto;
}

@media (min-width: 768px) {
  .index {
    flex: 1;
    height: 100%;
  }
  .landing {
    height: 100vh;
  }
  .about-us-text {
    width: 80%;
  }  
}

@media (max-width: 768) {
  .about-us h2 {
    display: none;
  }
}
